@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #404e5e;
  --primary: #83bd81;
  --secondary: #404e5e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
